In [1]:
import pandas as pd

In [2]:
data_main = pd.read_excel("aggregated.xlsx", "Main")
data_coop = pd.read_excel("aggregated.xlsx", "Coop")
data_migros = pd.read_excel("aggregated.xlsx", "Migros")
data_denner = pd.read_excel("aggregated.xlsx", "Denner")
data_spar = pd.read_excel("aggregated.xlsx", "Spar")

In [3]:
data_main

,GMDNAME,Unnamed: 1,KTNAME,LAT_CNTR,LONG_CNTR,HEIGHT_CNTR,BEVDICHTE_SQKM_ 2019,AUSLAENDER_ANTEIL_2019,ALTERSVERTEILUNG_ANTEIL_0_19_ 2019,ALTERSVERTEILUNG_ANTEIL_20_64_ 2019,...,WAEHLERANTEIL_KLEINERECHTSPARTEIN_2019,AVG_INCOME_PRO_STEUERPFLPERSON,STEUERBARES_EINKOMMEN_GEMEINDE,ANZAHL_FAHRZEUGE,ANZAHL_HALTESTELLEN_OV,Anzahl Filialen Coop,Anzahl Filialen Migros,Anzahl Filialen Denner,Anzahl Filialen Spar,Unnamed: 45
0,Aadorf,Aadorf,Thurgau,47.489522,8.908937,590.048732,453.711133,15.839505,20.404554,60.362551,...,1.981445,68464.601333,277.3501,6014.000001,9,1,1,1,0,1.0
1,Aarau,Aarau,Aargau,47.390236,8.045227,436.236994,1764.424635,20.938777,17.383916,64.414642,...,0.629738,72516.345149,763.0895,10976.000000,51,3,3,2,0,NaN
2,Aarberg,Aarberg,Bern,47.045418,7.278088,500.020013,584.110971,12.888601,19.624352,59.045769,...,1.811403,64687.799155,137.8497,2807.999999,11,1,0,1,0,NaN
3,Aarburg,Aarburg,Aargau,47.319850,7.900250,445.406223,1899.319728,44.138013,20.475167,65.222063,...,1.723182,60540.820872,190.2798,4758.000002,10,0,1,1,0,NaN
4,Aarwangen,Aarwangen,Bern,47.240244,7.770130,485.533291,466.666667,15.909091,20.541126,60.129870,...,2.048808,65314.566285,119.7216,2699.000000,4,0,1,1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2137,Zuzwil (SG),Zuzwil,St. Gallen,47.475095,9.110215,581.873056,534.225195,12.583472,21.222871,60.976628,...,1.057856,80012.956811,168.5873,3202.000000,9,0,0,1,0,NaN
2138,Zweisimmen,Zweisimmen,Bern,46.554365,7.372137,997.280874,41.643836,13.190789,16.973684,56.842105,...,2.809688,58806.567631,75.2136,1793.000000,29,1,1,1,0,NaN
2139,Zwieselberg,Zwieselberg,Bern,46.708072,7.616483,694.021029,133.739837,4.863222,27.051672,56.534954,...,6.385170,62723.214286,7.0250,178.000000,1,0,0,0,0,NaN
2140,Zwingen,Zwingen,Basel-Landschaft,47.435861,7.530089,395.002838,532.104122,24.419079,20.423971,64.329393,...,NaN,67304.796663,64.5453,1612.000000,7,0,1,0,1,NaN
2141,Zwischbergen,Zwischbergen,Valais,46.195082,8.140746,872.554934,0.860165,27.027027,2.702703,81.081081,...,NaN,50772.727273,2.2340,NaN,5,0,0,0,0,NaN

In [4]:
data_coop

,Gemeindename,place_latitude,place_longitude,place_openingHours,place_title,place_zipcode,Match,Gemeinde nach LONGLAT,Unnamed: 8
0,Aadorf,47.492659,8.899678,08:00 - 20:00,Coop Supermarkt Aadorf,8355,1.0,Widen,Aadorf
1,Aarau,47.398030,8.058215,08:00 - 20:00,Coop Supermarkt Aarau Telli,5004,2.0,NaN,NaN
2,Aarau,47.391873,8.052434,06:00 - 22:00,Coop Supermarkt Aarau Bahnhof,5000,2.0,NaN,NaN
3,Aarau,47.391914,8.046289,08:00 - 19:00,Coop City Aarau,5000,2.0,NaN,NaN
4,Aarberg,47.042459,7.276428,08:00 - 20:00,Coop Supermarkt Aarberg,3270,3.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
925,Zürich,47.412550,8.546414,06:30 - 20:00,Coop Supermarkt Zürich Andreasturm,8050,2134.0,NaN,NaN
926,Zürich,47.393290,8.484749,07:00 - 21:00,Coop Supermarkt Zürich Vulkanstrasse,8048,2134.0,NaN,NaN
927,Zürich Airport Shopping,47.450721,8.562632,06:00 - 23:00,Coop Supermarkt Zürich Airport Shopping,8060,NaN,NaN,NaN
928,Zuzwil,47.473169,9.112553,08:00 - 19:00,Coop Supermarkt Zuzwil Herbergmarkt,9524,NaN,NaN,NaN
929,Zweisimmen,46.555887,7.373526,08:00 - 19:00,Coop Supermarkt Zweisimmen,3770,2139.0,NaN,NaN

In [5]:
from scipy.spatial.distance import squareform, cdist

## Coop

In [6]:
coop = pd.DataFrame(cdist(list(zip(data_coop.place_latitude, data_coop.place_longitude)),list(zip(data_main.LAT_CNTR, data_main.LONG_CNTR))),index=data_coop.index,columns=data_main.index)
coop['lowest_col'] = coop.idxmin(axis=1)
coop = coop.merge(data_main.GMDNAME, how="left", left_on="lowest_col", right_on=data_main.index)
data_coop = data_coop.merge(coop.GMDNAME, how="left", left_index=True, right_index=True)

In [7]:
data_coop

,Gemeindename,place_latitude,place_longitude,place_openingHours,place_title,place_zipcode,Match,Gemeinde nach LONGLAT,Unnamed: 8,GMDNAME
0,Aadorf,47.492659,8.899678,08:00 - 20:00,Coop Supermarkt Aadorf,8355,1.0,Widen,Aadorf,Aadorf
1,Aarau,47.398030,8.058215,08:00 - 20:00,Coop Supermarkt Aarau Telli,5004,2.0,NaN,NaN,Aarau
2,Aarau,47.391873,8.052434,06:00 - 22:00,Coop Supermarkt Aarau Bahnhof,5000,2.0,NaN,NaN,Aarau
3,Aarau,47.391914,8.046289,08:00 - 19:00,Coop City Aarau,5000,2.0,NaN,NaN,Aarau
4,Aarberg,47.042459,7.276428,08:00 - 20:00,Coop Supermarkt Aarberg,3270,3.0,NaN,NaN,Aarberg
...,...,...,...,...,...,...,...,...,...,...
925,Zürich,47.412550,8.546414,06:30 - 20:00,Coop Supermarkt Zürich Andreasturm,8050,2134.0,NaN,NaN,Opfikon
926,Zürich,47.393290,8.484749,07:00 - 21:00,Coop Supermarkt Zürich Vulkanstrasse,8048,2134.0,NaN,NaN,Oberengstringen
927,Zürich Airport Shopping,47.450721,8.562632,06:00 - 23:00,Coop Supermarkt Zürich Airport Shopping,8060,NaN,NaN,NaN,Kloten
928,Zuzwil,47.473169,9.112553,08:00 - 19:00,Coop Supermarkt Zuzwil Herbergmarkt,9524,NaN,NaN,NaN,Zuzwil (SG)
929,Zweisimmen,46.555887,7.373526,08:00 - 19:00,Coop Supermarkt Zweisimmen,3770,2139.0,NaN,NaN,Zweisimmen

In [8]:
data_coop[data_coop.Gemeindename == data_coop.GMDNAME].count()

Gemeindename             628
place_latitude           628
place_longitude          628
place_openingHours       628
place_title              628
place_zipcode            628
Match                    628
Gemeinde nach LONGLAT      1
Unnamed: 8                 1
GMDNAME                  628
dtype: int64

In [9]:
data_coop.to_csv("coop_stores_aggregated.csv", index=False)

## Migros

In [10]:
migros = pd.DataFrame(cdist(list(zip(data_migros.Lat, data_migros.Long)),list(zip(data_main.LAT_CNTR, data_main.LONG_CNTR))),index=data_migros.index,columns=data_main.index)
migros['lowest_col'] = migros.idxmin(axis=1)
migros = migros.merge(data_main.GMDNAME, how="left", left_on="lowest_col", right_on=data_main.index)
data_migros = data_migros.merge(migros.GMDNAME, how="left", left_index=True, right_index=True)

In [11]:
data_migros

              name        Lat      Long Ladentyp                   GMDNAME
0          Aachtal  47.548298  9.273247        m                   Sommeri
1           Aadorf  47.490091  8.899406        m                    Aadorf
2            Aarau  47.391998  8.051596      mta                     Aarau
3            Aarau  47.391708  8.046095       mm                     Aarau
4            Aarau  47.391922  8.052831        m                     Aarau
...            ...        ...       ...      ...                       ...
1142        Zürich  47.379826  8.527929      mta                    Zürich
1143  Löwenstrasse  47.373207  8.534829      mta                    Zürich
1144    Bottmingen  47.524208  7.570944      mig                Bottmingen
1145   Reichenbach  46.625102  7.690035      mig  Reichenbach im Kandertal
1146       Zürich   47.376217  8.544119      mig                    Zürich

[1147 rows x 5 columns]

In [12]:
data_migros[data_migros.name == data_migros.GMDNAME].count()

name        521
Lat         521
Long        521
Ladentyp    521
GMDNAME     521
dtype: int64

In [13]:
data_migros.to_csv("migros_stores_aggregated.csv", index=False)

## Denner

In [14]:
data_denner

        Gemeinde        lat      long             name
0         Aadorf  47.490234  8.899587  Denner Satellit
1          Aarau  47.397895  8.058217   Denner Filiale
2          Aarau  47.391525  8.044420   Denner Filiale
3        Aarberg  47.050922  7.284046  Denner Satellit
4        Aarburg  47.332333  7.905518   Denner Filiale
..           ...        ...       ...              ...
849       Zürich  47.376570  8.497390   Denner Filiale
850       Zürich  47.400130  8.587940   Denner Filiale
851       Zürich  47.388781  8.525070   Denner Filiale
852  Zuzwil (SG)  47.473040  9.113210   Denner Partner
853   Zweisimmen  46.555429  7.372506   Denner Express

[854 rows x 4 columns]

In [15]:
denner = pd.DataFrame(cdist(list(zip(data_denner.lat, data_denner.long)),list(zip(data_main.LAT_CNTR, data_main.LONG_CNTR))),index=data_denner.index,columns=data_main.index)
denner['lowest_col'] = denner.idxmin(axis=1)
denner = denner.merge(data_main.GMDNAME, how="left", left_on="lowest_col", right_on=data_main.index)
data_denner = data_denner.merge(denner.GMDNAME, how="left", left_index=True, right_index=True)

In [16]:
data_denner

        Gemeinde        lat      long             name      GMDNAME
0         Aadorf  47.490234  8.899587  Denner Satellit       Aadorf
1          Aarau  47.397895  8.058217   Denner Filiale   Buchs (AG)
2          Aarau  47.391525  8.044420   Denner Filiale        Aarau
3        Aarberg  47.050922  7.284046  Denner Satellit      Aarberg
4        Aarburg  47.332333  7.905518   Denner Filiale      Aarburg
..           ...        ...       ...              ...          ...
849       Zürich  47.376570  8.497390   Denner Filiale       Zürich
850       Zürich  47.400130  8.587940   Denner Filiale  Wallisellen
851       Zürich  47.388781  8.525070   Denner Filiale       Zürich
852  Zuzwil (SG)  47.473040  9.113210   Denner Partner  Zuzwil (SG)
853   Zweisimmen  46.555429  7.372506   Denner Express   Zweisimmen

[854 rows x 5 columns]

In [17]:
data_denner[data_denner.Gemeinde == data_denner.GMDNAME].count()

Gemeinde    606
lat         606
long        606
name        606
GMDNAME     606
dtype: int64

In [18]:
data_denner.to_csv("denner_stores_aggregated.csv", index=False)

## Spar

In [19]:
spar = pd.DataFrame(cdist(list(zip(data_spar.coordinatex, data_spar.coordinatey)),list(zip(data_main.LAT_CNTR, data_main.LONG_CNTR))),index=data_spar.index,columns=data_main.index)
spar['lowest_col'] = spar.idxmin(axis=1)
spar = spar.merge(data_main.GMDNAME, how="left", left_on="lowest_col", right_on=data_main.index)
data_spar = data_spar.merge(spar.GMDNAME, how="left", left_index=True, right_index=True)

In [20]:
data_spar

,Gemeinde,coordinatex,coordinatey,name,GMDNAME
0,Disentis/Mustér,46.702007,8.851080,SPAR Supermarkt Disentis/Mustér,Disentis/Mustér
1,Vaz/Obervaz,46.697300,9.528214,SPAR Supermarkt Vaz/Lain,Lantsch/Lenz
2,Luzern,47.042411,8.306149,SPAR Supermarkt Luzern-Neustadt,Luzern
3,Wilen bei Wil,47.451012,9.035122,SPAR Supermarkt Wilen b. Wil,Wilen (TG)
4,Weesen,47.133494,9.094999,SPAR Supermarkt Weesen,Weesen
...,...,...,...,...,...
249,Rapperswil,47.222821,8.828576,SPAR mini Rapperswil,Rapperswil-Jona
250,Russikon,47.394625,8.776359,SPAR Mini Russikon,Russikon
251,Nendeln,47.197138,9.541697,SPAR mini Nendeln,Sennwald
252,Frauenfeld,47.552624,8.867948,SPAR mini Frauenfeld,Gachnang
253,Schänis,47.155732,9.037984,EUROSPAR Schänis,Schänis

In [21]:
data_spar[data_spar.Gemeinde == data_spar.GMDNAME].count()

Gemeinde       160
coordinatex    160
coordinatey    160
name           160
GMDNAME        160
dtype: int64

In [22]:
data_spar.to_csv("spar_stores_aggregated.csv", index=False)